<div class="row">
    <div id="menu-container" class="col-lg-12 menu">
        <label>
            Pause
            <input id="pause-resume"
                   ng-model="model.paused"
                   type="checkbox"/>
        </label>
        <label>
            Simulation speed
            <input id="sim-speed"
                   ng-model="model.speed"
                   type="number"
                   value="70"
                   max="100"
                   min="1"/>
        </label>
    </div>
</div>
